/* EventList.css */

.event-container {
  max-width: 900px;
  padding: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  animation: fadeIn 1s ease-in-out;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-left: 280px;
}

.event-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00c6ff;
  font-family: poppins;
}

.no-events {
  font-size: 1.2rem;
  color: hsl(0, 8%, 97%);
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.event-card {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  border:2px solid azure;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.event-title {
  font-size: 1.5rem;
  color: #feffff;
  margin-bottom: 10px;
  font-family: poppins;
}

.event-description {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  max-width: 90%;
}

.event-date, 
.event-price {
  font-size: 1rem;
  color: #27ae60;
  font-weight: bold;
}

@media (max-width: 768px) {
  .event-list {
    grid-template-columns: 1fr;
  }

  .event-card {
    padding: 12px;
  }

  .event-title {
    font-size: 1.3rem;
  }

  .event-description,
  .event-date,
  .event-price {
    font-size: 0.9rem;
  }
}



